<footer>
    <div class="footer-text">
        <a href="index.html"><img class="last-img" src="./img/logo.png" alt=""></a>
        <p> <b>© Kochwelt 2023 Gruppe-522</b></p>
        Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a> <br>
        The icons are provided by <a href="https://fontawesome.com/" rel="nofollow" target="_blank">FontAwesome</a>
        unter the <a href="https://fontawesome.com/license" target="_blank" rel="nofollow">Creative Commons Attribution
            4.0 International license</a>
    </div>
    <div class="gruppe">
        <div class="social-media-div">
            <a href="http://youtube.com"><img class="social-media" src="./social-media-icons/square-youtube.svg"
                    alt=""></a>
            <a href="http://facebook.com"><img class="social-media" src="./social-media-icons/square-facebook.svg"
                    alt=""></a>
            <a href="http://instagram.com"><img class="social-media" src="./social-media-icons/instagram.svg"
                    alt=""></a>
            <a href="http://twitter.com"><img class="social-media" src="./social-media-icons/twitter.svg" alt=""></a>

        </div>
        <div class="last-div">
            <a href="./kontakt.html"><b>Kontakt</b></a>
            <div class="seperator"></div>
            <a href="./datenschutz.html"><b>Datenschutz</b></a>
            <div class="seperator"></div>
            <a href="./impressum.html"><b>Impressum</b></a>

        </div>
    </div>
</footer>